/* Change background color */
body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

/* Style for content blocks */
.box {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

/* Style for images */
.my-image {
    width: 300px;
    border-radius: 10px;
}

/* Style for a heading */
h1 {
    color: black;
    text-align: center;
}
